<div class="container">
<div class="jumbotron">
  <h1>Campaigns</h1>
</div>
  <div class="row">
  <% for(var i=0; i < campaigns.length; i++) { %>
    <div id="script" class="col-md-4">
    <h3><a href="/stats/<%= campaigns[i].id %>"><%= campaigns[i].name %></a></h3>
      <h4><u>Status:</u> <%= campaigns[i].status %></h4>
      <h4><u>Phone Number:</u> <%= campaigns[i].phone_number %></h4>
      <h4><a href="/campaigns/<%= campaigns[i].id %>/edit">Edit</a></h4>
      <h4><a href="/campaigns/<%= campaigns[i].id %>/report">Report</a></h4>
     </div>
  <% } %>
    </div>
  </div>
</div>