<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="PhoneBanking tool">
    <meta name="robots" content="noindex">
    <meta name="author" content="GetUp">
    <link rel="icon" href="/favicon.ico">

    <title><%=campaign.name%></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/print.css" media="print">

    <!-- Custom styles for this template -->
    <style>
    body {
      padding-top: 50px;

    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
     }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Phone Bank Tool</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    <div class="jumbotron">
      <h1><%=campaign.name%> Campaign</h1>
    </div>
      <div class="row">
        <div id="script" class="col-md-8">
          <h2>Script</h2>
          <div>
          <iframe scrolling="no" style="border: 0; width: 100%; height: 1200px; overflow: hidden;" src="https://docs.google.com/document/d/1_2uhubfXoW8zokuhKXdRAdz8_WMH7R0wAQM5YWZii-4/pub?embedded=true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <h2>Get Started</h2>
          <div class="well">
            <h3>Call <%= campaign.phone_number.replace(/^61/, '0').replace(/(\d{2})(\d{4})(\d{4})/, '$1 $2 $3') %></h3>
            You will be provided with further instructions.
            <br><br>
            See <a href="#accordion">General Questions</a> for alternatives if you are unable to afford long phone conversations.
          </div>
          <h2>Call result codes</h2>
          <div class="well">
            <p><strong>Remember:</strong> to end a call press the <strong>* key</strong> . If you hit an answering machine, press <strong>2</strong> to move to the next call.</p>

            <p>You will be asked to enter one of these codes to record the outcome of the call:</p>

            <% Object.keys(questions).map(key => { %>
              <h3><%= `${questions[key].name} codes` %></h3>
              <ul style="margin-top:1em; list-style: none; font-size: 110%;">
                <%- Object.keys(questions[key].answers).map(a => `<li><strong>${a}</strong> - ${questions[key].answers[a].value}</li>`).join('') %>
              </ul>
            <% }).join('') %>
          </div>
          <div class="panel-group" id="accordion">
            <h2>General questions</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">I'm new here. Can I help?</a>
                </h4>
              </div>
              <div id="collapse-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  You sure can! This phone banking tool is designed for people who have never made any campaign calls before. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">What will I need?</a>
                </h4>
              </div>
              <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                  You will need a phone and a copy of the script printed out or in front of you.<br><br>
                  A headset is nice, as it makes it easier to use the keypad at the same time, but it is not essential. You might want to also disable the passcode on your mobile while calling. For iPhones, you can adjust this setting in the <strong>Settings</strong> app under <strong>Passcode</strong>.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">I can't afford long calls</a>
                </h4>
              </div>
              <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                  That's ok! GetUp members have donated so that everyone can participate in the campaign.
                  <br><br>
                  Call the number and there will be an option to be <strong>called back</strong> at no further cost to you.
                  <br><br>
                  If you have unlimited calls on your phone, or if you are able to afford it, we do ask that you just call in. Thank you! Think of it as a donation that will enable someone else to also participate in the campaign.<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
